<% set_meta_tags title: "新規チーム作成", noindex: true %>
<h1>新規チーム作成</h1>
<div class="new-team-page">
  <%= form_with model: Team.new, url: teams_path, local: true, class: "general-form new-team-form" do |f| %>
    <%= f.hidden_field :owner_user_id, value: current_user.id %>
    <div class="field">
      <h4>チームID<small>（必須、24字以内）</small></h4>
      <h5>リンク名に使われます</h5>
      <%= f.text_field :permalink %>
      <% if flash[:permalink_warning] %>
        <div class="warning">
          <%= flash[:permalink_warning] %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <h4>チーム名<small>（必須、24字以内）</small></h4>
      <%= f.text_field :name %>
      <% if flash[:name_warning] %>
        <div class="warning">
          <%= flash[:name_warning] %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <h4>キャッチフレーズ<small>（100字以内）</small></h4>
      <%= f.text_field :title %>
      <% if flash[:title_warning] %>
        <div class="warning">
          <%= flash[:title_warning] %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <h4>チーム画像</h4>
      <h5>4MB以内のgif、png、jpgファイル<br/>1200x630推奨</h5>
      <%= react_component "NewTeamImage" %>
      <%= f.file_field :image, onchange: "window.newTeamImageOnFileChanged();" %>
    </div>
    <div class="field">
      <h4>チーム紹介文</h4>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.check_box :not_adult %>アダルトゲーム開発のチームではありません
      <% if flash[:not_adult_warning] %>
        <div class="warning">
          <%= flash[:not_adult_warning] %>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit value: "作成" %>
    </div>
  <% end %>
</div>