<h1>アカウント設定</h1>
<div class="user-setting-page">
  <div class="container1">
    <div class="container2">
      <%= render partial: "layouts/user_settings_menu" %>
    </div>
    <div class="container3">
      <% case @mode %>
      <% when "profile" then %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form profile-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "profile" %>
          <h3>プロフィール設定</h3>
          <div class="field">
            <h4>ユーザーID<small>（必須、英数字およびハイフンのみ、24字以内）</small></h4>
            <%= f.text_field :permalink %>
            <% if flash[:permalink_warning] %>
              <div class="warning">
                <%= flash[:permalink_warning] %>
              </div>
            <% end %>
          </div>
          <div class="field">
            <h4>ユーザー画像</h4>
            <h5>1MB以内のgif、png、jpgファイル<br/>400x400推奨</h5>
            <%= react_component "SettingUserImage", info: {image: resource.image.url} %>
            <%= f.file_field :image, onchange: "window.settingUserImageOnFileChanged();" %>
          </div>
          <div class="field">
            <h4>ユーザー名</h4>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <h4>担当</h4>
            <ul class="tags">
              <%= f.collection_check_boxes :user_tag_name_ids, UserTagName.all.order(sort_number: :asc), :id, :name do |tag| %>
                <li>
                  <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="field">
            <h4>自己紹介<small>（240字以内）</small></h4>
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <h4>所在地</h4>
            <%= f.text_field :location %>
          </div>

          <div class="field">
            <h4>誕生日</h4>
            <div class="birth-box">
              <%= raw sprintf(f.date_select(:birth, use_month_numbers: true, start_year: 1930, end_year: Time.now.year, date_separator: "%s"), "年 ", "月 ") + "日" %>
            </div>
            <div class="check-box">
              <%= f.check_box :is_birth_published %>公開
            </div>
          </div>

          <div class="field">
            <h4>ホームページ</h4>
            <%= f.url_field :url %>
          </div>

          <div class="actions">
            <%= f.submit "更新" %>
          </div>
        <% end %>
      <% when "skills" %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form skills-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "skills" %>
          <h3>スキルセット設定</h3>
        <% end %>
      <% when "email" then %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form email-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "email" %>
          <h3>メールアドレス変更</h3>
          <div class="field">
            <h4>現在のメールアドレス</h4>
            <%= f.email_field :current_email, name: "current_email", id: nil, autocomplete: "email" %>
            <% if flash[:current_email_warning] %>
              <div class="warning">
                <%= flash[:current_email_warning] %>
              </div>
            <% end %>
          </div>
          <div class="field">
            <h4>新しいメールアドレス</h4>
            <%= f.email_field :email, value: nil %>
            <% if flash[:email_warning] %>
              <div class="warning">
                <%= flash[:email_warning] %>
              </div>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit "更新" %>
          </div>
        <% end %>
      <% when "password" then %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form password-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "password" %>
          <h3>パスワード変更</h3>
          <div class="field">
            <h4>現在のパスワード</h4>
            <%= f.password_field :current_password, name: "current_password", id: nil %>
            <% if flash[:current_password_warning] %>
              <div class="warning">
                <%= flash[:current_password_warning] %>
              </div>
            <% end %>
          </div>
          <div class="field">
            <h4>新しいパスワード<small>（8字以上、32字以内）</small></h4>
            <%= f.password_field :password %>
            <% if flash[:password_warning] %>
              <div class="warning">
                <%= flash[:password_warning] %>
              </div>
            <% end %>
          </div>
          <div class="field">
            <h4>新しいパスワード<small>（確認用）</small></h4>
            <%= f.password_field :password_confirmation %>
            <% if flash[:password_confirmation_warning] %>
              <div class="warning">
                <%= flash[:password_confirmation_warning] %>
              </div>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit "更新" %>
          </div>
        <% end %>
      <% when "notification" then %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form notification-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "notification" %>
          <h3>通知設定</h3>
          <div class="field">
            <h4>メール通知</h4>
            <div class="check-box-field">
              <%= f.check_box :is_email_notified %> メール通知をONにする
            </div>
          </div>
          <div class="actions">
            <%= f.submit value: "更新" %>
          </div>
        <% end %>
      <% when "sns" then %>
        <%= form_with model: resource, url: user_registration_path, local: true, class: "general-form user-setting-form sns-form" do |f| %>
          <%= f.hidden_field :mode, name: "mode", id: nil, value: "sns" %>
          <h3>SNS設定</h3>
          <div class="field">
            <h4>Twitter連携</h4>
            <% if current_user.twitter %>
              <h5>このアカウントはTwitterと連携済みです</h5>
              <%= link_to twitters_path, method: :delete, class: "disconnect-twitter" do %>
                <i class="fab fa-twitter"></i> Twitterとの連携を解除
              <% end %>
              <%= f.fields_for :twitter do |twitter| %>
                <div class="check-box-field">
                  <%= twitter.check_box :is_published_url %> URL公開
                </div>
              <% end %>
            <% else %>
              <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "connect-twitter" do %>
                <i class="fab fa-twitter"></i> Twitterと連携する
              <% end %>
            <% end %>
          </div>
          <div class="field">
            <h4>GitHub連携</h4>
            <% if current_user.github %>
              <h5>このアカウントはGitHubと連携済みです</h5>
              <%= link_to githubs_path, method: :delete, class: "disconnect-github" do %>
                <i class="fab fa-github"></i> GitHubとの連携を解除する
              <% end %>
              <%= f.fields_for :github do |github| %>
                <div class="check-box-field">
                  <%= github.check_box :is_published_url %> URL公開
                </div>
              <% end %>
            <% else %>
              <%= link_to user_github_omniauth_authorize_path, method: :post, class: "connect-github" do %>
                <i class="fab fa-github"></i> GitHubと連携する
              <% end %>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit value: "更新" %>
          </div>
        <% end %>
      <% when "destroy" then %>
        <div class="user-destroy-box">
          <h3>退会</h3>
          <div class="caution">
            退会後、全てのデータが削除されます。また、削除されたデータの復元はできません。
          </div>
          <div class="destroy-action">
            <%= button_to "退会", user_registration_path, data: {confirm: "本当に退会しますか？"}, method: :delete %>
          </div>
        </div>
      <% else end %>
    </div>
  </div>
</div>