<h1>アカウント設定</h1>
<div class="user-setting-page">
  <div class="container1">
    <div class="container2">
      <%= render partial: "settings_menu" %>
    </div>
    <div class="container3">
      <%= form_with model: @user, local: true do |f| %>
        <%= link_to user_twitter_omniauth_authorize_path, method: :post do %>
        Twitterと連携する
        <% end %>
        <%= link_to disconnect_twitter_path, method: :put do %>
        Twitterとの連携を解除する
        <% end %>
        <%= link_to user_github_omniauth_authorize_path, method: :post do %>
          GitHubと連携する
        <% end %>
        <%= link_to disconnect_github_path, method: :put do %>
          GitHubとの連携を解除する
        <% end %>
      <% end %>
    </div>
  </div>
</div>