<% set_meta_tags title: "パスワード再設定", noindex: true %>
<h1>パスワード再設定</h1>
<div class="edit-password-page">
  <%= form_with model: resource, as: resource_name, url: password_path(resource_name), local: true, method: "put", class: "general-form edit-password-form" do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <h3>パスワード再設定</h3>
    <div class="field">
      <h4>新しいパスワード<small>（8字以上、32字以内）</small></h4>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <h4>新しいパスワード<small>（確認用）</small></h4>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="actions">
      <%= f.submit "再設定" %>
    </div>
  <% end %>
</div>
