<h1></h1>
<div class="edit-password-page">
  <%= form_with model: resource, as: resource_name, url: password_path(resource_name), local: true, method: "put", class: "general-form edit-password-form" do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="field">
      <h4>新しいパスワード<small>（8字以上、32字以内）</small></h4>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <h4>新しいパスワード<small>（確認用）</small></h4>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="actions">
      <%= f.submit "再設定" %>
    </div>
  <% end %>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br/>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
