<div class="settings-menu">
  <nav>
    <ul>
      <li>
        <%= link_to edit_user_registration_path do %>
          プロフィール設定
        <% end %>
      </li>
      <li>
        <%= link_to setting_skills_path do %>
          スキルセット設定
        <% end %>
      </li>
      <li>
        <%= link_to "/" do %>
          ポートフォリオ設定
        <% end %>
      </li>
      <li>
        <%= link_to "/" do %>
          招待設定
        <% end %>
      </li>
      <li>
        <%= link_to edit_email_user_registration_path do %>
          メールアドレス変更
        <% end %>
      </li>
      <li>
        <%= link_to edit_password_user_registration_path do %>
          パスワード変更
        <% end %>
      </li>
      <li>
        <%= link_to edit_sns_user_registration_path do %>
          SNS設定
        <% end %>
      </li>
      <li>
        <%= link_to edit_destroy_user_registration_path do %>
          退会
        <% end %>
      </li>
    </ul>
  </nav>
</div>