<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <%= display_meta_tags default_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90GLNJW2Y9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-90GLNJW2Y9');
    </script>
  <% end %>
</head>
<body>
<header>
  <%= link_to "", root_path, class: "logo" %>
  <nav class="hamburger">
    <div id="jquery-header-hamburger-button" class="hamburger-button">
      <i class="fas fa-bars"></i>
    </div>
  </nav>
  <nav class="left-nav">
    <ul>
      <li>
        <%= link_to teams_path do %>
          <i class="far fa-list-alt"></i> チーム
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <i class="fas fa-users"></i> ユーザー
        <% end %>
      </li>
    </ul>
  </nav>
  <nav class="right-nav">
    <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to new_team_path do %>
            新規チーム作成
          <% end %>
        </li>
        <li>
          <div id="jquery-header-user-button" class="user-image">
            <%= image_tag current_user.image.url %>
            <% if current_user.invitations.length > 0 or current_user.received_messages.where(is_read: false).length > 0 %>
              <div class="notice-mark">
                <i class="fas fa-exclamation"></i>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        </li>
      </ul>
    <% end %>
  </nav>
  <div id="jquery-header-pull-down-menu" class="pull-down-menu">
    <nav class="top-nav">
      <ul>
        <li>
          <%= link_to teams_path do %>
            <span class="icon"><i class="far fa-list-alt"></i></span> チーム
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <span class="icon"><i class="fas fa-users"></i></span> ユーザー
          <% end %>
        </li>
      </ul>
    </nav>
    <nav class="bottom-nav">
      <% if user_signed_in? %>
        <div class="user-information">
          <div class="user-image">
            <%= image_tag current_user.image.url %>
          </div>
          <div class="user-name">
            <%= current_user.name %>
          </div>
        </div>
        <ul>
          <li>
            <%= link_to new_team_path, class: "normal" do %>
              <span class="icon"><i class="fas fa-plus"></i></span> 新規チーム作成
            <% end %>
          </li>
          <li>
            <% if current_user.received_messages.where(is_read: false).length > 0 %>
              <%= link_to messages_path, class: "noticed" do %>
                <span class="icon"><i class="far fa-envelope"></i></span>
                メッセージ（未読：<%= current_user.received_messages.where(is_read: false).length %>件）
              <% end %>
            <% else %>
              <%= link_to messages_path, class: "normal" do %>
                <span class="icon"><i class="far fa-envelope"></i></span> メッセージ
              <% end %>
            <% end %>
          </li>
          <li>
            <% if current_user.invitations.length > 0 %>
              <%= link_to invitations_path, class: "noticed" do %>
                <span class="icon"><i class="far fa-paper-plane"></i></span> 招待一覧（<%= current_user.invitations.length %>
                件）
              <% end %>
            <% else %>
              <%= link_to invitations_path, class: "normal" do %>
                <span class="icon"><i class="far fa-paper-plane"></i></span> 招待一覧
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path, class: "normal" do %>
              <span class="icon"><i class="fas fa-user-cog"></i></span> アカウント設定
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.permalink), class: "normal" do %>
              <span class="icon"><i class="far fa-address-card"></i></span> プロフィール
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class: "normal", method: :delete do %>
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span> ログアウト
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= link_to new_user_session_path, class: "normal" do %>
              ログイン
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: "normal" do %>
              新規登録
            <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
  <% if user_signed_in? %>
    <div id="jquery-header-pop-up-menu" class="pop-up-menu">
      <div class="user-name">
        <%= current_user.name %>
      </div>
      <ul>
        <li>
          <% if current_user.received_messages.where(is_read: false).length > 0 %>
            <%= link_to messages_path, class: "noticed" do %>
              <span class="icon"><i class="far fa-envelope"></i></span>
              メッセージ（未読：<%= current_user.received_messages.where(is_read: false).length %>件）
            <% end %>
          <% else %>
            <%= link_to messages_path, class: "normal" do %>
              <span class="icon"><i class="far fa-envelope"></i></span> メッセージ
            <% end %>
          <% end %>
        </li>
        <li>
          <% if current_user.invitations.length > 0 %>
            <%= link_to invitations_path, class: "noticed" do %>
              <span class="icon"><i class="far fa-paper-plane"></i></span> 招待一覧（<%= current_user.invitations.length %>件）
            <% end %>
          <% else %>
            <%= link_to invitations_path, class: "normal" do %>
              <span class="icon"><i class="far fa-paper-plane"></i></span> 招待一覧
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path, class: "normal" do %>
            <span class="icon"><i class="fas fa-user-cog"></i></span> アカウント設定
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user.permalink), class: "normal" do %>
            <span class="icon"><i class="far fa-address-card"></i></span> プロフィール
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, class: "normal", method: :delete do %>
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span> ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<main role="main">
  <% if notice %>
    <p class="notice">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert">
      <%= alert %>
    </p>
  <% end %>
  <%= yield %>
</main>
<footer>
  <nav>
    <ul>
      <li>
        <%= link_to "利用規約", terms_path %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", privacy_path %>
      </li>
      <li>
        <%= link_to "お問い合わせ", contact_messages_path %>
      </li>
    </ul>
  </nav>
  <address>
    Copyright <i class="far fa-copyright"></i> 2021 GCMC All Rights Reserved.
  </address>
</footer>
</body>
</html>
