<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <title>GCMC</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<header>
  <%= link_to "", "/", class: "logo" %>
  <div class="hamburger-button">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="left-nav">
    <ul>
      <li>
        <%= link_to "/" do %>
          <i class="far fa-list-alt"></i> チーム
        <% end %>
      </li>
      <li>
        <%= link_to "/" do %>
          <i class="fas fa-users"></i> ユーザー
        <% end %>
      </li>
    </ul>
  </nav>
  <nav class="right-nav">
    <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to "/" do %>
            新規チーム作成
          <% end %>
        </li>
        <li>
          <div id="jquery-header-user-button" class="user-image">
            <%= image_tag current_user.image.url %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to "/signup" do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to "/login" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        </li>
      </ul>
    <% end %>
  </nav>
  <div class="pull-down-menu">
    <nav>
      <ul>
        <li>
          <%= link_to "/" do %>
            <i class="far fa-list-alt"></i> チーム
          <% end %>
        </li>
        <li>
          <%= link_to "/" do %>
            <i class="fas fa-users"></i> ユーザー
          <% end %>
        </li>
      </ul>
    </nav>
    <nav>
      <% if user_signed_in? %>
        <ul>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>

            <% end %>
          </li>
        </ul>
      <% else %>
      <% end %>
    </nav>
  </div>
  <% if user_signed_in? %>
    <div id="jquery-header-pop-up-menu" class="pop-up-menu">
      <div class="user-name">
        <%= current_user.name %>
      </div>
      <ul>
        <li>
          <%= link_to edit_user_registration_path do %>
            <span class="icon"><i class="fas fa-user-cog"></i></span> アカウント設定
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span> ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<main role="main">
  <% if notice %>
    <p class="notice">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert">
      <%= alert %>
    </p>
  <% end %>
  <%= yield %>
</main>
<footer>

</footer>
</body>
</html>
